<!DOCTYPE HTML>
<html>

<head>
    <title>Cadastrar Cliente</title>
    <meta charset="utf-8">

</head>


<body>

    <h2>Cadastro</h2>
<form method="POST">


    Nome:<input type="text" required placeholder="Digite seu nome completo" name="nome">
    <br>
   Data de Nascimento: <input type="datetime-local" required name="data_nasc">
    <br>
   E-mail: <input type="email" required placeholder="email@exemplo.com" name="email">
    <br>
   Senha: <input type="password" required placeholder="************" minlength="6" name="senha">
   <br>
    <input type="submit" value="Cadastrar">


</form>

</body>
</html>