<!DOCTYPE HTML>
<html>

<head>
    <title>Meu app</title>
    <meta charset="utf-8">

</head>


<body>

<ul>
<% lista.forEach(function(user){ %>

    <li> <%= user.nome %> -  <%= user.data_nasc %> - <%= user.email %>  </li>
  <br>



    <% }) %>
</ul>


</body>
</html>