<h1>Atualizar Dados</h1>


<form name="form1" action="/controllerUpdate" method="POST">

  <div class="form-group">
      Nome: <input class="form-control" type="text" name="nome" id="nome" value='{{nome}}'><br>
      E-mail: <input class="form-control" type="email" name="email" id="email" value='{{email}}' ><br>
      Senha: <input class="form-control" type="password" name="senha" id="senha" value='{{senha}}'><br>
  

<button type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-primary">Atualizar</button>
</div>
<br>
<div class="form-group">    
<button class="btn btn-primary"><a href='listar' style="color:white">Voltar</a></button><br>
  </div>
</form>